APP_NAME="Kuis Cakrawala"
APP_ENV=production
APP_DEBUG=false
APP_KEY=base64:ISI_DENGAN_APP_KEY_DARI_PHP_ARTISAN_KEY_GENERATE_SHOW
APP_URL=https://NAMA-SERVICE.onrender.com

LOG_CHANNEL=stderr
LOG_LEVEL=info

DB_CONNECTION=pgsql
DB_URL=
DB_HOST=ISI_DENGAN_HOST_SUPABASE_POOLER
DB_PORT=5432
DB_DATABASE=postgres
DB_USERNAME=ISI_DENGAN_USER_SUPABASE
DB_PASSWORD=ISI_DENGAN_PASSWORD_SUPABASE
DB_SSLMODE=require

SESSION_DRIVER=file
CACHE_STORE=file
QUEUE_CONNECTION=sync
FILESYSTEM_DISK=local

RUN_MIGRATIONS=true
RUN_DB_SEED=false
